p1/ext/__pycache__
p1/__pycache__
p2/ext/__pycache__
p2/__pycache__
p3/ext/__pycache__
p3/__pycache__
p4/ext/__pycache__
p4/__pycache__
p5/ext/__pycache__
p5/__pycache__
p6/ext/__pycache__
p6/__pycache__
